.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portrait {
    width: 200px;
    border-radius: 100%;

    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

#portrait:hover {
    opacity: 0.9;
}

.connect-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.connect-button {
    border: 1px dashed #94A89A;
    padding: 0 5px;
    background: #FBF7F4;
    color: #94A89A;

    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.connect-button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.highlight {
    background: #EED2CC;
}

.message {
    padding: 0 10px;
    font-size: medium;
    width: 100%;
    cursor: unset;
}