body {
    background: linear-gradient(to right top, #d94560, #e29779) no-repeat fixed;
}

.center-wrapper-button {
    flex-direction: row;
    justify-content: space-between;
}

#modal-board {
    background: #FBF7F4;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message-name {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
}

.message-age::before {
    content: "(";
}

.message-age::after {
    content: ")";
}

.clear-messages-wrapper {
    color: #94A89A;
    font-style: italic;
    font-size: small;
    text-align: right;
}

.clear-messages-button {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
}

.clear-messages-button:hover {
    color: #556359;
}

@-moz-keyframes slideOut {
    from {opacity: 1;}
    to   {opacity: 0; transform: translateX(70%);}
}

@-webkit-keyframes slideOut {
    from {opacity: 1;}
    to   {opacity: 0; transform: translateX(70%);}
}

@keyframes slideOut {
    from {opacity: 1;}
    to   {opacity: 0; transform: translateX(70%);}
}

.deleting {
    position: relative;
    animation: slideOut 0.5s ease forwards;
}

.form-inline {
    display: flex;
    justify-content: space-between;
}

#form-name {
    flex: 1;
    margin-right: 10px;
}

#form-age {
    flex: initial;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

input, select, textarea {
    background: white;
    padding-left: 5px;
    margin: 5px 0;
    border: 1px solid #d94560;
    border-radius: 5px;
    outline: none;
    font-family: "Lucida Console", Monaco, monospace;
}

input, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 25px;
}

.text-box {
    height: 150px;
    resize: vertical;
}

.form-button {
    border: 1px solid #d94560;
    width: 100px;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    font-size: medium;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

#clear-button.form-button {
    background: #FBF7F4;
    color: #d94560;
}

#post-button.form-button {
    background: #d94560;
    color: #FBF7F4;
}

.form-button:hover {
    transform: scale(1.1);
}

@media only screen and (min-width: 600px) {
    #modal-board {
        height: 450px;
    }

    .form-button {
        font-size: large;
    }
}

@media only screen and (min-width: 800px) {
    input, select, textarea {
        font-size: medium;
    }
}
